.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.InputElement {
    outline: none;
    border: 1px solid orange;
    background-color: white;
    font: inherit;
    padding: 5px 10px;
}

.InputElement:focus {
    outline: none;
    background-color: whitesmoke;
}

.Input .Invalid {
    color: red;
    font-weight: bold;    
    background-color: red;
}